In [17]:
from yfapi import YahooFinanceAPI, Interval
from datetime import datetime, timedelta
import pandas as pd

In [18]:
# Use data_dict['stock'] to make a df, then combine them 
# Working, days are incorrect unless in weekly format, also maybe monthly
# Use weekly, because that basically sums up all the info 


dh = YahooFinanceAPI(Interval.WEEKLY)
now = datetime(2022, 7, 13)
then = datetime(2022, 1, 13)


data_dict = dh.get_data_for_tickers(['msft', 'aapl', 'amzn'], then, now)

In [19]:
df = data_dict['msft']
df1 = data_dict['aapl']
df2 = data_dict['amzn']

In [20]:
# Removing the Adj Close from these downloaded tickers, and plan to join them later with the .CSV files
# Better to rename now or later?

df.drop(["Adj Close"], axis=1, inplace=True)

In [21]:
df1.drop(["Adj Close"], axis=1, inplace=True)

In [22]:
df2.drop('Adj Close', axis=1, inplace=True)

In [24]:
display(df, df1, df2)

         Date        Open        High         Low       Close     Volume
0  2022-01-10  320.470001  320.880005  303.750000  310.200012   85212400
1  2022-01-17  304.070007  313.910004  295.609985  296.029999  181632200
2  2022-01-24  292.200012  308.500000  276.049988  308.260010  352234000
3  2022-01-31  308.950012  315.119995  299.959991  305.940002  202857400
4  2022-02-07  306.170013  311.929993  294.220001  295.040009  176801000
5  2022-02-14  293.769989  300.869995  286.309998  287.929993  160125500
6  2022-02-21  285.000000  297.630005  271.519989  297.309998  169083700
7  2022-02-28  294.309998  303.130005  287.170013  289.859985  157389300
8  2022-03-07  288.529999  289.690002  270.000000  280.070007  184358500
9  2022-03-14  280.339996  301.000000  275.820007  300.429993  176939300
10 2022-03-21  298.890015  305.500000  294.899994  303.679993  128717300
11 2022-03-28  304.329987  315.950012  304.329987  309.420013  148667800
12 2022-04-04  310.089996  315.109985  296.279999  296.970001  143329800
13 2022-04-11  291.790009  292.609985  279.320007  279.829987  115664800
14 2022-04-18  278.910004  293.299988  273.380005  274.029999  124842800
15 2022-04-25  273.290009  290.980011  270.000000  277.519989  216395500
16 2022-05-02  277.709991  290.880005  271.269989  274.730011  175769700
17 2022-05-09  270.059998  273.750000  250.020004  261.119995  221997200
18 2022-05-16  259.959991  268.329987  246.440002  252.559998  164627300
19 2022-05-23  255.490005  273.339996  253.429993  273.239990  142680100
20 2022-05-30  272.529999  277.690002  261.600006  270.019989  135187100
21 2022-06-06  272.059998  274.179993  252.529999  252.990005  120495800
22 2022-06-13  245.110001  255.300003  241.509995  247.649994  184153000
23 2022-06-20  250.259995  267.980011  249.509995  267.700012  115652800
24 2022-06-27  268.209991  268.299988  252.899994  259.579987  126536500
25 2022-07-04  256.160004  269.059998  254.740005  267.660004   87273400
26 2022-07-11  265.649994  266.529999  248.110001  252.720001   84821100

         Date        Open        High         Low       Close     Volume
0  2022-01-10  175.779999  176.619995  171.089996  173.070007  164946600
1  2022-01-17  171.509995  172.539993  162.300003  162.410004  400041100
2  2022-01-24  160.020004  170.350006  154.699997  170.330002  688258600
3  2022-01-31  170.160004  176.240005  169.509995  172.389999  458553300
4  2022-02-07  172.860001  176.649994  168.039993  168.639999  412902000
5  2022-02-14  167.369995  173.339996  166.190002  167.300003  362252300
6  2022-02-21  164.979996  166.690002  152.000000  164.850006  414293700
7  2022-02-28  163.059998  168.910004  161.970001  163.169998  418671400
8  2022-03-07  163.360001  165.020004  154.500000  154.729996  521334100
9  2022-03-14  151.449997  164.479996  150.100006  163.979996  503123700
10 2022-03-21  163.509995  175.279999  163.009995  174.720001  446083700
11 2022-03-28  172.169998  179.610001  171.940002  174.309998  465395100
12 2022-04-04  174.570007  178.490005  169.199997  170.089996  393099200
13 2022-04-11  168.710007  171.270004  165.039993  165.289993  297460200
14 2022-04-18  163.919998  171.529999  161.500000  161.789993  376787700
15 2022-04-25  161.119995  166.199997  155.380005  157.649994  541697200
16 2022-05-02  156.710007  166.479996  153.270004  157.279999  566928200
17 2022-05-09  154.929993  156.740005  138.800003  147.110001  686227300
18 2022-05-16  145.550003  149.770004  132.610001  137.589996  548244700
19 2022-05-23  137.789993  149.679993  137.139999  149.639999  495921700
20 2022-05-30  149.070007  151.740005  144.460007  145.380005  338923400
21 2022-06-06  147.029999  149.869995  137.059998  137.130005  354267700
22 2022-06-13  132.869995  137.339996  129.039993  131.559998  541168600
23 2022-06-20  133.419998  141.910004  133.320007  141.660004  315960300
24 2022-06-27  142.699997  143.490005  133.770004  138.929993  373505700
25 2022-07-04  137.770004  147.550003  136.929993  147.039993  278165000
26 2022-07-11  145.669998  148.449997  142.119995  145.490005  211916000

         Date        Open        High         Low       Close     Volume
0  2022-01-10  165.250504  166.221497  159.800507  162.138000   98162000
1  2022-01-17  159.104996  159.734497  142.070496  142.643005  356480000
2  2022-01-24  139.000000  145.184998  135.352005  143.977997  493958000
3  2022-01-31  144.750000  161.199997  138.332993  157.639496  703846000
4  2022-02-07  158.520004  163.834503  152.733994  153.293503  392818000
5  2022-02-14  151.751007  160.348999  150.893005  152.601501  320010000
6  2022-02-21  150.478500  153.990005  139.500000  153.788498  293554000
7  2022-02-28  152.425003  154.449997  143.807007  145.641006  276024000
8  2022-03-07  145.443497  149.675003  133.572495  145.524506  465214000
9  2022-03-14  145.981003  161.593994  140.884003  161.250504  410524000
10 2022-03-21  161.121002  166.369995  159.552994  164.773499  292266000
11 2022-03-28  164.975006  170.831497  162.319504  163.559998  299232000
12 2022-04-04  164.125000  168.394501  154.231003  154.460495  296804000
13 2022-04-11  152.712997  156.024994  149.600006  151.706497  212278000
14 2022-04-18  151.523499  158.649002  143.697495  144.350006  298118000
15 2022-04-25  144.022995  146.221497  121.625000  124.281502  600718000
16 2022-05-02  122.401001  126.220497  113.081497  114.772499  607320000
17 2022-05-09  111.312500  114.000000  102.405502  113.055000  568972000
18 2022-05-16  113.099998  115.800003  105.009499  107.591003  447036000
19 2022-05-23  108.460999  115.186996  101.260002  115.146500  490514000
20 2022-05-30  116.279999  125.610001  115.675003  122.349998  470326000
21 2022-06-06  125.250000  128.990005  109.050003  109.650002  439648100
22 2022-06-13  104.190002  109.059998  101.430000  106.220001  435976000
23 2022-06-20  108.199997  116.709999  103.559998  116.459999  265154200
24 2022-06-27  117.089996  117.980003  102.519997  109.559998  374082800
25 2022-07-04  107.599998  116.989998  106.320000  115.540001  247073100
26 2022-07-11  114.080002  114.300003  106.010002  110.400002  169121700